name: Deploy Rokola Web

on:
  # Se ejecuta cada vez que haces push a la rama 'main'
  push:
    branches: ["main"]

  # Te permite ejecutarlo manualmente desde la pestaña Actions si lo necesitas
  workflow_dispatch:

# Permisos necesarios para publicar en Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Solo permitimos una publicación a la vez
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Trabajo de construcción (Build)
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup Pages
        uses: actions/configure-pages@v5
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # AQUI está el truco: apuntamos a tu carpeta específica
          path: 'rokola_web'

  # Trabajo de publicación (Deploy)
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
